@model Degree

<div class="d-flex justify-content-center">
    <form asp-action="SubmitAddDegree" method="post" class="w-50 mt-2">
        <div class="mb-4 border-bottom border-dark d-flex justify-content-center">
            <h2 id="register-title">
                Adicionar Formação
            </h2>
        </div>
        <div>
            <div class="form-group">
                <label for="level" class="font-weight-bold">Nível:</label>
                <span asp-validation-for="Level" class="text-danger"></span>
                <input type="text" id="level" asp-for="Level" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="institution" class="font-weight-bold">Instituição:</label>
                <span asp-validation-for="Institution" class="text-danger"></span>
                <input type="text" id="institution" asp-for="Institution" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="start" class="font-weight-bold">Data de Início:</label>
                <span asp-validation-for="StartedAt" class="text-danger"></span>
                <input type="date" id="start" asp-for="StartedAt" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="end" class="font-weight-bold">Data de Término:</label>
                <span asp-validation-for="EndedAt" class="text-danger"></span>
                <input type="date" id="end" asp-for="EndedAt" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="subject" class="font-weight-bold">Área de Formação:</label>
                <span asp-validation-for="Subject" class="text-danger"></span>
                <input type="text" id="subject" asp-for="Subject" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Confirmar">
    </form>
</div>
