@using BAE_Brasil.Utils.Extensions
@model LoginViewModel

@if (ViewContext.HttpContext.Session.IsLoggedIn())
{
    <p>Sua sessão já foi iniciada. Deseja fazer logout?</p>
    <a asp-action="Logout">Logout</a>
}
else
{
    <div class="d-flex justify-content-center">
        <form asp-action="SubmitLogin" method="post" class="w-50 mt-2">
            <div class="mb-4 border-bottom border-dark d-flex justify-content-center">
                <h2 id="register-title">
                    Login
                </h2>
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email:</label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="email" id="email" asp-for="Email" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password" class="font-weight-bold">Senha:</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" id="password" asp-for="Password" class="form-control"/>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <input type="submit" class="btn btn-outline-info font-weight-bold" value="Login">
            </div>
        </form>
    </div>
}
